.post {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
.post:hover img {
  transform: scale(1.1);
}
.postImg {
  width: 30%;
  overflow: hidden;
}
.postImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info {
  flex: 1;
}
.info > * {
  padding: 0.5rem 0;
}
